@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);



#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#header2-1 P {
  color: #efefef;
}
#header2-1 H1 {
  color: #f7da64;
  font-family: 'Droid Serif', serif;
  font-size: 60px;
}
#content5-3 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
}
#content5-3 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3 .mbr-article {
  color: #fff;
}
#content5-3 .mbr-article P {
  color: #ffffff;
}
#content5-3 .mbr-header .mbr-header__text I {
  color: #fd896d;
}
#features1-2 .mbr-section-title .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
}
#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
}

#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-9 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-9 .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-b .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-d .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#ext_menu-f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-f .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-f .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#ext_menu-y .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-y.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-y .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-y .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-y .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#msg-box5-1s .mbr-header__text {
  color: #ffffff;
}
#msg-box5-1s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-1s .mbr-article {
  color: #ffffff;
}
#msg-box3-1x .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content1-2j P {
  color: #7c706b;
  text-align: center;
  font-size: 19px;
}

#ext_menu-1e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1e .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1e .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1e .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}



#ext_menu-1h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1h .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1h .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1h .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#features1-1k .mbr-section-title .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
}
#features1-1p .mbr-section-title .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
}

#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-22 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-22 .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#ext_menu-28 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-28 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-28 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-28 .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-24 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#ext_menu-26 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-26 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-26 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-26 .mbr-brand__name a {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
